<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/application.css">

 <%= partial :header %>
<body>

  <% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if current_user %>
    Welcome, <%= current_user.email %>
   
    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Sign out'>
    </form>
  <% end %>

  <%= partial :show_errors %>
 

  <%= yield %>
</body>
</html>